<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Xin chào Ngọc Dung Xinh Đẹp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div>
    <h3>Tổng số ca nhiễm COVID hôm nay <span th:text="${date}"></span></h3>
    <div>
        <table>
            <tr>
                <th>Bang</th>
                <th>Nước</th>
                <th>Số liệu thống kê tổng</th>
                <th>Tăng trưởng</th>
            </tr>
            <tr th:each="item : ${locationStats}">
                <td th:text="${item.state}"></td>
                <td th:text="${item.country}"></td>
                <td th:text="${item.lastedTotalCases}">0</td>
                <td th:text="${item.cr}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>